# Python
__pycache__/
*.pyc
.env
.venv/
venv/
TxtInOut/
arborescence_sans_dossiers_generatifs.txt/
# Excel internal documentation
Dictionnaire_donnees_ABH_Sebou.xlsx/
requirements.txt/
# Node
node_modules/
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
