# =====================================================
# ENVIRONNEMENT
# =====================================================
ENV=development
DEBUG=false


# =====================================================
# BASE DE DONNEES POSTGRESQL
# =====================================================
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=abh_sad
DB_USER=postgres
DB_PASS=CHANGE_ME

# Options DB
DB_CONNECT_TIMEOUT=5
DB_APP_NAME=sad_sebou_api
DB_SSLMODE=
DB_POOL_MIN=1
DB_POOL_MAX=10


# =====================================================
# TABLES METIERS (UTILISEES PAR LES ROUTERS)
# =====================================================
STATIONS_TABLE=api.v_station_dimension
TBL_DEBIT=hydro.mesure_debit
TBL_TEMP=meteo.mesure_temperature
TBL_QUAL=qualite.mesure_qualite_riviere


# =====================================================
# COUCHES SIG (LAYERS)
# =====================================================
LAYER_BASSIN=api.v_bassin_geojson
LAYER_SOUS_BASSIN=api.v_sous_bassin_geojson
RESEAU_TABLE=geo.reseau_hydrographique
LAYER_RESEAU_HYDRO=geo.reseau_hydrographique
LAYER_BARRAGES=api.v_barrage_dimension
LAYER_STATIONS=api.v_station_dimension

LAYER_ADM_REGIONS=admin.regions
LAYER_ADM_PROVINCES=admin.provinces
LAYER_ADM_CERCLES=admin.cercle
LAYER_ADM_COMMUNES=admin.communes
LAYER_ADM_VILLES=admin.localite
LAYER_ADM_DOUARS=admin.localite


# =====================================================
# SECURITE / AUTH (JWT)
# Générer une clé forte : python -c "import secrets; print(secrets.token_hex(32))"
# =====================================================
SECRET_KEY=CHANGE_ME_GENERATE_A_STRONG_KEY
ACCESS_TOKEN_EXPIRE_MINUTES=120
ALGORITHM=HS256


# =====================================================
# CORS (FRONTEND)
# =====================================================
BACKEND_CORS_ORIGINS=http://127.0.0.1:5173,http://localhost:5173,http://127.0.0.1:5174,http://localhost:5174


# =====================================================
# MAP / API EXTERNES
# =====================================================
MAPTILER_KEY=PUT_YOUR_KEY_HERE


# =====================================================
# DATES PAR DEFAUT (DASHBOARD / TESTS)
# =====================================================
DEFAULT_DATE_FROM=2025-08-01
DEFAULT_DATE_TO=2025-09-01


# =========================================
# BASE CLIMAT (Dashboard Climate)
# =========================================
CLIMATE_DB_HOST=127.0.0.1
CLIMATE_DB_PORT=5432
CLIMATE_DB_NAME=abh_sad
CLIMATE_DB_USER=postgres
CLIMATE_DB_PASS=CHANGE_ME
CLIMATE_DB_SSLMODE=
CLIMATE_DB_POOL_MIN=1
CLIMATE_DB_POOL_MAX=5
