# === Core API ===
fastapi
uvicorn
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
email-validator

# === Data science ===
numpy
pandas
scipy
networkx

# === Database ===
sqlalchemy
psycopg2-binary

# === Geospatial ===
pyproj
shapely
fiona
geopandas
geojson

# === Utilities ===
requests
click
colorama
